<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
    <link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />

    <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><span class="icon icon-star"></span><a href="/team/{{ user }}/{{ team.get_name() }}">{{ team.get_name() }}</a></h1>
            <div id="menu">
                <ul>
                    <li><a href="/team/{{ user }}/{{ team.get_name() }}" accesskey="1" title="">Team Page</a></li>
                    <li><a href="/user/{{ user }}/{{ team.get_name() }}" accesskey="2" title="">My High5's</a></li>
                    <li><a href="/giveHigh5/{{ user }}/{{ team.get_name() }}" accesskey="3" title="">Give High5</a></li>
                    <li><a href="/index/{{ user }}" accesskey="4" title="">Teams</a></li>
                    <li><a href="/logout" accesskey="5" title="">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="page-wrapper">
    <div id="page" class="container">
        <div class="title">
            <h2>Edit Team</h2>
            <a href="/delete/{{ user }}/{{ team.get_name() }}" title="" class="delete_link">Delete Team</a>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <h2 class="edit_members">Members</h2>
        <ul class="member_name">
            {% for member in members%}
            <li class="member_dets">
                <div class="title">
                    <p>{{ member.get_user_name() }}</p>
                </div>
            </li>
            {% endfor %}
            <li class="member_dets">
                <h3 class="add_members">Remove Members</h3>
                <form action="" method="post" name="remove_form">
                    {{ remove_member_form.hidden_tag() }}
                    <p>Enter comma-separated user names to remove: <br>{{ remove_member_form.team_members(size=100) }}
                    <p><input class="form_submit" type="submit" value="Remove Members"></p>
                </form>
            </li>
            <li class="member_dets">
                <h3 class="add_members">Add Members</h3>
                <form action="" method="post" name="add_members">
                    {{ edit_form.hidden_tag() }}
                    <p>Enter comma-separated user names to add: <br>{{ edit_form.users(size=100) }}</p>
                    <p><input class="form_submit" type="submit" value="Add Members"></p>
                </form>
            </li>
        </ul>
    </div>
</div>
<div id="copyright" class="container">
    <p>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
